/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#include "Versions.h"
#include "afxres.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION KVers
 PRODUCTVERSION KVers
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "Comments", KVerComments
            VALUE "CompanyName", "G8BPQ\0"
            VALUE "FileDescription", "bpq32\0"
            VALUE "FileVersion", KVerstring
            VALUE "InternalName", "bpq32\0"
            VALUE "LegalCopyright", KVerCopyright
            VALUE "OriginalFilename", "bpq32.dll\0"
            VALUE "ProductName", "bpq32\0"
            VALUE "ProductVersion", KVerstring
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END
